@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

:root {
	/* font-setting */
	--ff-primary: 'League Spartan', sans-serif;

	--ff-heading: var(--ff-primary);
	--ff-body: var(--ff-primary);

	--fs-lg: 2.25rem;
	--fs-sm: 0.938rem;

	--fs-heading: var(--fs-lg);
	--fs-body: var(--fs-sm);

	--fw-bold: 700;
	--fw-semibold: 500;
	--fw-regular: 400;

	/* color-setting */
	--clr-primary-1: hsl(300, 43%, 22%);

	--clr-accent-1: hsl(333, 80%, 67%);

	--clr-neutral-1: hsl(303, 10%, 53%);
	--clr-neutral-2: hsl(300, 24%, 96%);
	--clr-neutral-3: hsl(0, 0%, 100%);
}

/* Box sizing rules */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Remove default margin */
* {
	margin: 0;
	padding: 0;
	font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
	list-style: none;
}

/* Set core root defaults */
html:focus-within {
	scroll-behavior: smooth;
}

html,
body {
	height: 100%;
}

/* Set core body defaults */
body {
	text-rendering: optimizeSpeed;
	line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
	text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
	max-width: 100%;
	display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}

	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

/* utility classes */

.text-primary-1 {
	color: var(--clr-primary-1);
}
.text-accent-1 {
	color: var(--clr-accent-1);
}

.text-neutral-1 {
	color: var(--clr-neutral-1);
}
.text-neutral-2 {
	color: var(--clr-neutral-2);
}
.text-neutral-3 {
	color: var(--clr-neutral-3);
}

.bg-neutral-1 {
	color: var(--clr-neutral-1);
}
.bg-neutral-2 {
	color: var(--clr-neutral-2);
}

.fs-heading {
	font-size: var(--fs-heading);
}
.fs-body {
	font-size: var(--fs-body);
}

.fw-bold {
	font-weight: var(--fw-bold);
}
.fw-semibold {
	font-weight: var(--fw-semibold);
}
.fw-regular {
	font-weight: var(--fw-regular);
}
